/*
Theme Name: CMSSE Single Page
Theme URI: http://cmssolutionsexper.com/blog/wordpress
Description: Single page template 
Author: Aashutosh Kumar Yadav
Version: 1.0
License: GNU General Public License v2 or later
License #
Tags: Single column, top navigaion
Text Domain: twentyten
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------Reset style ends------------------------------------------------------*/
/* default element styles*/
body{ background:#355664;}
body, h2,h3, h4{font-family: Arial, Helvetica, sans-serif;}
a {
    color: #e2e071;
    text-decoration: none;
    outline: none;
    font-weight: normal; }
 
    a:hover {
        color: #fff;
        text-decoration: none; }
 
strong { font-weight: bold; }

/* Layout styles */
#wrapper {
    font-family:Arial, Helvetica, sans-serif;
    color: #fcfcfc; 
}
.page-entry-content{position:relative;top:0px;left:0px;padding:5px 20px 25px 20px; clear:both;}
.sub-content-box{
display:block;
float:right;
padding:10px;
clear:left;
margin-left:10px;
width:300px;

min-height:300px;
background: #2f8cba;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.sub-content-box h3{
font: normal 18px/22px 'Oswald';
color: #FFFFCC;
margin:5px 0px 0px 0px;
text-shadow: 1px 0px 1px #000000;


}
.singlepost-pad{
height:70px;
}

#container {
    width: 940px;
    margin: 0 auto;
padding:0px 10px 0px 10px;
    /*background: #FFFFE5;*/
    position: relative;
/* box-shadow: 0 0 4px #222;*/

}
.page{
background:#213E4A;
margin:20px 0px 20px 0px;
line-height: 18px;
font: normal 14px/18px arial;
color: #fcfcfc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
box-shadow: 0px 1px 5px 1px #000000;/*Syntax - box-shadow: h-shadow v-shadow blur spread color inset;*/
width:934px;
}
.page p{margin:10px 0px 10px 0px;}
.page h4 {
font: normal 20px/22px 'Oswald';
color: #fcfcfc;
margin:5px 0px 0px 0px;
text-shadow: 1px 1px 2px #000000;
}
.clear{
clear:both;
}
.page ul{margin:8px;}
.page ul li
{
background-image: url(images/circle.png);
background-repeat: no-repeat;
background-position: 0px 1px; 
padding-left: 18px; 
}
 

h2.page-entry-title{
color: #FFFFCC;
font: 30px/50px 'Oswald';
text-transform: uppercase;
height: 38px;
text-align: left;
margin:10px 20px 10px 0px;
text-shadow: 1px 1px 2px #000000;
 }
.page .title-speparator {
background-color: #15242A;
border-bottom-color: #204656;
margin:20px 0px 20px 0px;
height: 1px;
overflow: hidden;
}
.page-seperator{ /*It is separator of page */
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #416371;
	margin:40px 0;
width:930px;
	overflow:hidden;
}

/* Slider styles */
.sliderpad{
padding:88px 0px 20px 0px;
background: url(images/slider_shadow.png) bottom center no-repeat;
}
.slidergap{clear:both;height:10px;}

/*Slideshow styles*/
.slideshow ul{
margin:0px auto;
}
#slideshow-wrapper{
margin:0px auto!important;
}
.logo{
position:absolute;
float:left;
display:block;
padding-left:2px;
}
.logo h1{
font: normal 25px/30px 'Oswald';
color: #00CCFF;
margin:15px 0px 0px 0px;
line-height: 20px;
text-transform:uppercase;
text-shadow: 1px 0px 1px #ffffff;
}
.logo h1 a{
color:#00CCFF;

}
/* Navigation styles */
#navigation {
    position: fixed;
    width: 100%;
    height: 56px;
    background: #2f8cba url(images/navbar_bg.png) repeat-x center top;
    z-index: 99999;
    box-shadow: 0 0 4px #222;
}
#navholder{
width: 940px;
margin:0px auto;
}
#navbar {

    width: 940px;
margin:0px auto;
    height: 51px;

}
#navbar ul {
    width: 700px;
    /*width: 600px;*/
    padding: 0px 0 0;
	float:right;
margin-top:15px;

   
   
     }
 
    #navbar ul li {
        list-style: none;
        display: inline;
        float:right;
        margin-left:45px;
      float:left;

 }
 
 
 
#navbar li a {
    display: block;
    color: #fff;
    text-transform: uppercase;    
    text-align: center;
    font-family: 'Oswald', arial, serif;
    font-size: 15px/25px;
    
 }
#navbar li a.active{
		color: #FFC;		
			}
 
 
/*Footer Styles starts*/

.footer-frame{
font-size:12px;
width:100%;
height:50px;
background:#2F8CBA;
box-shadow: 0px 1px 5px 1px #000000;/*Syntax - box-shadow: h-shadow v-shadow blur spread color inset;*/
}
.footer{
margin:0px auto;
text-align:center;
width:925px;
color:#ffffff;
padding:30px 0px 0px 0px;
}

.footer p{
	margin-bottom:-2.5em;
	position:relative;
}

.footer a,.footer a:visited{
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

.footer a:hover{
	text-decoration:none;
	
}

.footer a.company{
	float:left;
color:#000000;

}

.footer a.up{
	float:right;
color:#000000;
font-weight:bold;
}
.footer .line{
	margin:2em 0;
}



/* BLOG styles */
#post {
	margin-bottom: 15px;
}
h3.post-entry-title-single h3{
font: normal 20px/22px 'Oswald';
color: #ffffff;
margin:15px 0px 0px 0px;
line-height: 20px;
}
h3.post-entry-title {
font: normal 20px/22px 'Oswald';
color: #ffffff;
margin:25px 0px 0px 0px;
line-height: 20px;
}

h3.post-entry-title a, h3.post-entry-title-single a {
	color: #ffffff;
}

h3.post-entry-title a:hover, h3.post-entry-title a:hover {
	color: #ffc;
	text-decoration: none;
}

.post-entry-utility p {
	font-size: 11px;
	padding-bottom: 0px;
	
}
.post-entry-utility-text{font-weight:bold;}
.post-entry-utility {
padding: 0px 0;
margin-bottom: 0px;
}

.page-entry-content img {
	margin-bottom: 14px;
	border: 1px solid #000;
	padding: 0px;
}

.page-entry-content {
	clear: both;
	margin-bottom: 30px;
}

.post-read-more-link {
	margin-bottom: 10px;
}



/* Blog Comments styles*/
.comments-section {
	padding-bottom: 30px;
}

.comments-section h3 {
	text-align: right;
	font-size: 26px;
	font-family: Bebas, Arial, sans-serif;
	color: #616161;
	margin-bottom: 30px;
}

.comment {
	margin-bottom: 15px;
}

.avatar {
	float: left;
	margin-right: 15px;
	border: 1px solid #e1e1e1;
	padding: 4px;
}

.comments-section ul {
	list-style: none;
}

.comment-text {
	float: left;
	width: 493px;
	background: #f7f7f7;
	padding: 15px;
	border: 1px solid #e1e1e1;
	position: relative;
}

.comment-text small {
	margin-bottom: 10px;
	display: block;
}

.comment-text cite {
	color: #a1a37f;
}

.comment-reply-link {
	position: absolute;
	top: 15px;
	right: 15px;
}

#comments-form {
	margin: 30px 0 100px 0;	
}
/* Contact Styles with Contact Form 7 plugin */
/*=== CONTACT
==================================================*/


input, textarea{border: 0;
-moz-border-radius: 5px;
border-radius: 5px;
font: normal 13px/18px Arial;
color: #000;
padding: 10px 5px;
margin: 3px 0;
background: #EEE;
}
.wpcf7-submit{
background: #DB7030;
font: normal 14px/30px 'Oswald';
color: white;
text-transform: uppercase;
width: auto !important;
height: auto !important;
margin-left: 0px;
cursor:pointer;
}

form {			
	width: 400px;
}
				
.textbox, .wpcf7-form input[type="text"], .wpcf7-form textarea {
	color: #747474;
	width: 262px;
	margin-bottom: 15px;
	padding: 6px;
	background-color: #f7f7f7;
	border: 1px solid #e1e1e1;
	font-family: inherit;
	font-size: inherit;
}

label {
	padding-top: 6px;
	float: left;
	width: 70px;
	overflow:hidden;
}

#message, #comment, .wpcf7-form textarea {
	height: 135px;
	width: 316px;
}

#submit, #post-comment, .wpcf7-form .wpcf7-submit {	
	margin-left: 0px;
	margin-bottom: 15px;
	float: left;
	cursor: pointer;
	font-family: inherit;
	font-size: 11px;	
	color: #fff;
	background: #db7030;
	padding: 6px 10px;
	border: none;
}

#submit:hover, #post-comment:hover, .wpcf7-form .wpcf7-submit:hover {
	background: #2F8CBA;
}

#message-outcome, .wpcf7-response-output {
	border: none !important;
	padding: 0 !important;
	clear: both;
	margin: 0 0 0 0px !important;
	color: #FFFF00;
}

span.wpcf7-not-valid-tip {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
	color: #FFFF00;
    font-size: 12px !important;
	clear: both !important;
	display: block !important;
    left: 0 !important;
	margin-top: -10px;
	margin-left: 0px;
    padding: 0 !important;
    position: static !important;
    top: 0 !important;
    width: auto !important;
}
/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	margin: 18px 0;
font: normal 20px/22px 'Oswald';
color: #fcfcfc;
}
h3#comments-title {
	padding: 24px 0;
font: normal 20px/22px 'Oswald';
color: #fcfcfc;
}

h3#comments-title em{
text-decoration:underline;

}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #204656;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #FFFFCC;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #fff;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #e2e071;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ffffff;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #204656;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #fff;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	border-top: 1px solid #204656;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
font: normal 20px/22px 'Oswald';
color: #fcfcfc;
}


#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #ffffff;
	font-size: 12px;
text-transform:capitalize;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}

/* =Navigation - pagination
-------------------------------------------------------------- */

.navigation {
	color: #e2e071;
	
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #e2e071;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ffffff;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: 18px 0 0 0;
}

/*
Back to top button 
*/
.scrollup{
			width:40px;
			height:40px;			
			text-indent:-9999px;
			opacity:1;
			position:fixed;
			bottom:10px;
			right:90px;
			display:none;
			background: url('images/up-arrow.png') no-repeat;
		}